@import 'antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-switch-handle::before {
background-color : blue
}

.ant-checkbox-inner {
height : 24px!important ;
width : 24px!important;
margin-bottom: 2px!important


}