@import "antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-checkbox-inner {
    background-color: lightgrey;
}

.ant-switch-handle::before {
    background-color: #5964e0;
}

.ant-checkbox-wrapper {
    text-align: center;
}

.ant-checkbox {
    top: 0;
}
